* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: rgb(200, 0, 0);
    min-height: 10rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    position: absolute;
    width: 100%;
    top: 0;
}

main {
    position: relative;
    top: 10rem;
    padding: 2rem;
    .baner{ 
        display: grid;
        grid-template-columns: 40% 1fr;

    .baner_form{
        grid-column-start: 1;
        grid-column-end: 2;
        min-height: 6rem;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.2rem;

        #baner_text_i1, #baner_text_i2{
            height: 2rem;
            margin: 1rem;
            padding: 1rem;
            font-size: 1.2rem;
            width: 60%;
        }

        #baner_color{
            width: 6rem;
            height: 3rem;
            cursor: pointer;
        }

    }

    #baner_image {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 1000px;
        height: 500px;
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 500px !important;
    

       #text_out1{
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
        }

        #text_out2{
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
        } 
    }
}


}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    #footerLeft {
       
        text-align: right;
    }
}

//buttons

.mybutton1{
    background-color: rgb(10, 141, 21);
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
}

.mybutton1:hover {
    box-shadow: 5px 10px black;
    color: rgb(227, 195, 15);
}

.mybutton2{
    background-color: rgb(10, 141, 21);
    border-radius: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
}